div.estilouno{
    margin: auto;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: aqua;
    padding: 5%;
    border-radius: 2%;
    border-color: rebeccapurple;

}
div.todo{
    display: flex;
    padding: 0%;
   
}
h1{
    color: red;
}
form.cuadradoc>*{
    display: block;
    
    margin: auto;
    text-align: center;
    
}
form.triangulotri>*{
    
    display: block;
    margin: auto;
    text-align: center;
    
}
form.circuloci>*{

    display: flex;
    margin: auto;
    text-align: center;
    
}
div.estilodos{
    margin: auto;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0%;    
    background-color: orange;
    padding: 5%;
    border-radius: 2%;
}
div.estilotres{
    margin: auto;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0%;  
    margin-bottom: 0%; 
    background-color: gray;
    padding: 5%;
    border-radius: 2%;
    
}